{% extends "shared/master.html" %}

{% block title %}Store List{% endblock %}

{% block css %}{% endblock %}

{% block script %}

<script type="text/javascript">

function onDelete(id){

	jConfirm("Are you sure you want to delete ?", "Delete Store", function(result){
				if(result){
					$("#delete_object_id").val(id);
					$("#delete_object_form").submit();
				}
	});
	
}

{% if view_data.message != None %}
	$(document).ready(alert("{{view_data.message}}"));

{% endif %}
</script>
{% endblock %}

{% block body %}
<div class="page">
<div id="menucontainer">           
                <ul id="menu">
                <li><a href="/company/list/">Home</a></li>
                <li><a href="/game/list/?parent={{view_data.parent_obj.company.id}}">{{ view_data.parent_obj.company.name }}</a></li>
                <li><a href="/store/list/?parent={{view_data.parent_obj.id}}">{{ view_data.parent_obj.name }}</a></li>
                </ul>
            
            </div>
<div id="main">
            
<table align="center" width="40%">
<tr>
	<th colspan="13">
		<h3>Store List for {{ view_data.parent_obj.name }}</h3>		
	</th>
</tr>
<tr><td colspan="3"><a href="/{{view_file}}/add/?parent={{view_data.parent_obj.id}}">Add Store</a></td></tr>
<tr>
	<th nowrap>Name</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>Last Pushed</th>
	<th nowrap>Visibe Id</th>
	<th nowrap>Active</th>
	<th nowrap>Position</th>	
<!--
	<th nowrap>Min Version</th>
	<th nowrap>Max Version</th>
-->	
	<th>&nbsp;</th><th>&nbsp;</th>
</tr>
{% ifequal view_data.object_count 0 %}
<tr><td colspan="3"><h3>No Entries</h3></td></tr>
{% else %}

{% for object_in_list in view_data.list_of_object %}
<tr>
	<td nowrap><a href="/category/list/?parent={{ object_in_list.id }}">{{ object_in_list.name }}</a></td>
	<td nowrap><a href="/resource/list/?parent={{ object_in_list.id }}&parent_type=store">Resources</a></td>
	<td nowrap>
	<form action="/store/push/" method="post" id="push_store_form{{ object_in_list.id }}">
	<input type="hidden" name="id" value="{{ object_in_list.id }}" />
	<input type="hidden" name="parent" value="{{view_data.parent_obj.id}}" />
	<a href="javascript:void(0)" onclick="$('#push_store_form{{ object_in_list.id }}').submit()" >Push Store</a>
	{% csrf_token %}
	</form>
	</td>
	<td nowrap><a href="/export/json/?store_id={{ object_in_list.id }}">JSON</a></td>
	<td nowrap><a href="/export/json/?store_id={{ object_in_list.id }}&zip=true">Zipped JSON</a></td>
	<td nowrap><a href="/export/xml/?store_id={{ object_in_list.id }}">XML</a></td>
	<td nowrap><a href="/export/xml/?store_id={{ object_in_list.id }}&zip=true">Zipped XML</a></td>	
	<td nowrap>{{ object_in_list.last_pushed }}</td>
	<td nowrap>{{ object_in_list.visible_id }}</td>
	<td nowrap>{{ object_in_list.is_active }}</td>
	<td nowrap>{{ object_in_list.position }}</td>
<!--
	<td nowrap>{{ object_in_list.min_version }}</td>	
	<td nowrap>{{ object_in_list.max_version }}</td>
-->
	<td nowrap="nowrap" colspan="2"><a href="/{{view_file}}/edit/?id={{object_in_list.id}}&game={{view_data.parent_obj.id}}">EDIT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="onDelete('{{object_in_list.id}}')">DELETE</a></td>
	</tr>
{% endfor %}

{% endifequal %}
</table>
</div>
</div>

<form action="/{{view_file}}/delete/" method="post" id="delete_object_form">
<input type="hidden" name="id" id="delete_object_id" />
<input type="hidden" name="game" value="{{view_data.parent_obj.id}}" />
{% csrf_token %}
</form>
 {% endblock %}
