{% extends "shared/master.html" %}

{% block title %}Add Game{% endblock %}

{% block css %}{% endblock %}

{% block script %}{% endblock %}

{% block body %}

<div class="page">
<div id="menucontainer">           
                <ul id="menu">
                <li><a href="/company/list/">Home</a></li>  
                <li><a href="/game/list/?parent={{view_data.parent_obj.id}}">{{view_data.parent_obj.name}}</a></li>
                </ul>
            
            </div>

<div id="main">

{% if form_action == None %}

<form action="/{{view_file}}/{{view_method}}/" method="post">
{% else %}
<form action="{{ form_action }}" method="post">
{% endif %}

<table align="center" border="1">
<tr>
	<th colspan="10">
		<h3>Add Game</h3>		
	</th>
</tr>
{{ form.as_table }}
<tr>
	<td colspan="10" align="center"><input type="submit" value="Submit" /></td>
</tr>
</table>
{% csrf_token %}
<input type="hidden" value="{{view_data.parent_obj.id}}" name="parent" />
</form>
</div>
</div>
 {% endblock %}
