{% extends "shared/master.html" %}

{% block title %}Item List{% endblock %}

{% block css %}{% endblock %}

{% block script %}

<script type="text/javascript">

function onDelete(id){

	jConfirm("Are you sure you want to delete ?", "Delete Item", function(result){
				if(result){
					$("#delete_object_id").val(id);
					$("#delete_object_form").submit();
				}
	});
	
}

{% if view_data.message != None %}
	$(document).ready(alert("{{view_data.message}}"));

{% endif %}
</script>
{% endblock %}

{% block body %}
{% load custom_tags %}
<div class="page">
<div id="menucontainer">           
                <ul id="menu">
                <li><a href="/company/list/">Home</a></li>  
                <li><a href="/game/list/?parent={{view_data.parent_obj.store.game.company.id}}">{{view_data.parent_obj.store.game.company.name}}</a></li>
                <li><a href="/store/list/?parent={{view_data.parent_obj.store.game.id}}">{{view_data.parent_obj.store.game.name}}</a></li>
                <li><a href="/category/list/?parent={{view_data.parent_obj.store.id}}">{{view_data.parent_obj.store.name}}</a></li>
                <li><a href="/item/list/?parent={{view_data.parent_obj.id}}">{{view_data.parent_obj.name}}</a></li>
                </ul>
            
            </div>
<div id="main">
            
<table align="center" width="40%">
<tr>
	<th colspan="100">
		<h3>Item List for {{ view_data.parent_obj.name }}</h3>		
	</th>
</tr>
<tr><td colspan="3"><a href="/{{view_file}}/add/?parent={{view_data.parent_obj.id}}">Add Item</a></td></tr>
<tr>
	<th nowrap>Name</th>
	<th nowrap>&nbsp;</th>
	<th nowrap>Visibe Id</th>
	<th nowrap>Active</th>
	<th nowrap>Position</th>
{% if view_data.display_fields %}
	{% for field in view_data.display_fields %}
	<th nowrap>{{ field|get_pretty_string }}</th>
	{% endfor %}
{% endif %}	
<!--		
	<th nowrap>Min Version</th>
	<th nowrap>Max Version</th>
-->	
	<th>&nbsp;</th><th>&nbsp;</th>
</tr>
{% ifequal view_data.object_count 0 %}
<tr><td colspan="3"><h3>No Entries</h3></td></tr>
{% else %}

{% for object_in_list in view_data.list_of_object %}
<tr>
	<td nowrap>{{ object_in_list.name }}</td>
	<td nowrap><a href="/resource/list/?parent={{ object_in_list.id }}&parent_type=item">Resources</a></td>
	<td nowrap>{{ object_in_list.visible_id }}</td>
	<td nowrap>{{ object_in_list.is_active }}</td>
	<td nowrap>{{ object_in_list.position }}</td>
{% if view_data.display_fields %}
	{% for field in view_data.display_fields %}
	<td nowrap>{{ object_in_list|get_display_html:field|safe }}</td>
	{% endfor %}
{% endif %}
<!--
	<td nowrap>{{ object_in_list.min_version }}</td>	
	<td nowrap>{{ object_in_list.max_version }}</td>
-->
	<td nowrap="nowrap" colspan="2"><a href="/{{view_file}}/edit/?id={{object_in_list.id}}&category={{view_data.parent_obj.id}}">EDIT</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void(0)" onclick="onDelete('{{object_in_list.id}}')">DELETE</a></td>
	</tr>
{% endfor %}

{% endifequal %}
</table>
</div>
</div>

<form action="/{{view_file}}/delete/" method="post" id="delete_object_form">
<input type="hidden" name="id" id="delete_object_id" />
<input type="hidden" name="category" value="{{view_data.parent_obj.id}}" />
{% csrf_token %}

</form>
 {% endblock %}
